<!doctype html>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/index.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Heart attack </title>
</head>
<body>
<h1>HELLO please fill the below form so that my website can predict if you are high risk of gettig heart attack</h1>


    <form action=" " method="post" id="forms">
    {% csrf_token %}
        <div>
    <label id="heading_label">
        ENTER YOUR AGE :
        </label>
        <input type="number" name="age" min="2" max="120" required >
    
        </div>
        <div>
            <label id="heading_label">
                Gender 
            </label>
            <label id="input_label">
                MALE
                <input type="radio" name="gender" value="male" required>
            </label>
            <label id="input_label">
                FEMALE
                <input type="radio" name="gender" value="female">
            </label>
        
        </div>
        <div>
            <label id="heading_label">
                RESTING BLOOD PRESSURE:
               </label> 
                <input type="number" max="200" min="90" name="R_B_P" required>
            
        </div>
        <div>
            <label id="heading_label">
                ENTER YOUR CHOLESTROL LEVELS:
            </label>
                <input type="number" min="120" max="600" name="chol" required>
            
        </div>
        <div>
            <label id="heading_label">
                MAX heart rate achived :
            </label>
                <input type="number" max="230" min="65" name="heart_rate" required>
            
        </div>

        <div>
            <label id="heading_label">
                treadmill ECG stress test:
            </label>
                <input type="number" min="0.0" max="7.5" step="0.1" name="treadmill_ECG" required>
            
        </div>
        <div>
            <label id="heading_label">
                is your fasting blood sugar greater than 120 mg/dl ?
            </label>
            <label id="input_label">
                YES
                <input type="radio" name="fbs" value=1  required>
            </label>
                <label id="input_label">
                    NO
                    <input type="radio" name="fbs" value=0>
                </label>
            
        </div>
        <div>
            <label id="heading_label">
                select which type of resting ECG you have
            </label>
                <label id="input_label">
                    NORMAL
                    <input type="radio" name="rest_ecg" value=0  required>
                </label>
                <label id="input_label">
                    ABNORMAL
                    <input type="radio" name="rest_ecg" value=1>
                </label>
                <label id="input_label">
                    HYPERNORMAL
                    <input type="radio" name="rest_ecg" value=2>
                </label>
            
        </div>
        <div>
            <label id="heading_label">
                 Do you have chest pain after doing exersise ??
            </label>
                <label id="input_label">
                    YES
                    <input type="radio" name="agina_ex" value=1 required>
                </label>
                <label id="input_label" >
                    NO
                    <input type="radio" name="agina_ex" value=0>
                </label>
            
        </div>
        <div>
            <label id="heading_label">
                TREDMILL ECG GRAPH CHARACTER:
            </label>
                <label id="input_label">
                    UPSLOPING
                    <input type="radio" name="graph" value=0 required>
                </label>
                <label id="input_label">
                    FLAT
                    <input type="radio" name="graph" value=1>
                </label>
                <label id="input_label">
                    DOWNSLOPING
                    <input type="radio" name="graph" value=2>
                </label>
            
        </div>
        <div>
            <label id="heading_label">
                Number of major vessels (0–3) colored by flourosopy
            </label>
                <label id="input_label">
                    colored_0
                    <input type="radio" name="color" value=0 required>
                </label>
                <label id="input_label">
                    colored_1
                    <input type="radio" name="color" value=1>
                </label>
                <label id="input_label">
                    colored_2
                    <input type="radio" name="color" value=2>
                </label>
            
        </div>
        <div>
            <label id="heading_label">
                 Thalassemia
            </label>
                <label id="input_label">
                    NORMAL
                    <input type="radio" name="thall" value=0 required>
                </label>
                <label id="input_label">
                    fixed_defect
                    <input type="radio" name="thall" value=1>
                </label>
                <label id="input_label">
                    Reversible Defect
                    <input type="radio" name="thall" value=2>
                </label>
            

        </div>
        <div>
            <label id="heading_label">
                CHEST PAIN LEVEL AFTER EXERSISE:
            </label>
                <label id="input_label">
                    LEVEL 1 : typical angina
                    <input type="radio" name="agina_level" value=0 required>
                </label>
                <label id="input_label">
                    LEVEL 2 : atypical angina
                    <input type="radio" name="agina_level" value=1>
                </label>
                <label id="input_label">
                    LEVEL 3 : non — anginal pain
                    <input type="radio" name="agina_level" value=2>
                    </label>
                <label id="input_label">
                    LEVEL 4 : asymptotic
                    <input type="radio" name="agina_level" value=3>
                </label>
           
        </div>


        <a href="{% url 'result_page' %}">
<button type="submit" name="result_page" >SUBMIT</button>
</a>
    </form>

</body>
</html>